::-webkit-scrollbar {
    width : 12px !important;
    height : 12px !important
}

::-webkit-scrollbar-thumb { 
    background-color : #3B3B3B !important;
    border-left : 1px solid #000 !important
}

::-webkit-scrollbar-track-piece {
    background-color : #1B1B1B !important
}

@media(prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb { 
        background-color : #F7F7F7 !important;
        border-left : 1px solid #fff !important
    }

    ::-webkit-scrollbar-track-piece {
        background-color : #CECECE !important
    }
}