html {
    user-select: none
}

body {
    margin: 0 1em 1em 1em;
    min-width: 222px;
    background-color: #1B1B1B;
    color: #fff
}

a {
    color: #fff
}

h1 {
    line-height: 1;
    font-size: 1.8em
}

h6 {
    font-weight: normal;
    font-size: 1.0em
}

footer {
    text-align: right
}

#appName {
    margin-bottom: 0
}

#version {
    margin-top: 3px
}

@media(prefers-color-scheme: light) {
    body {
        color: #000;
        background-color: #CECECE
    }
    
    a {
        color: #000
    }
}